<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Répertoire Téléphonique</title>
    <link href="C:\Users\Megaport\Desktop\Reposit\Répertoire Téléphonique\static\style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Répertoire Téléphonique</h1>
    <h2>Menu</h2>
    <a href="Add.html" class ="button">Ajouter un numéro</a>
    <p></p>
    <a href="Search.html" class ="button">Rechercher un numéro</a>
  </body>
</html>